In [67]:
import pandas as pd
import numpy as np

In [90]:
# TravelPlans collection cleaning begins here
file_path = 'PUT_FILE_PATH_HERE'
TravelPlans_df = pd.read_csv(file_path, dtype={'phoneNumber': str})

In [83]:
TravelPlans_df.head(10)

,_id,personId,fullName,phoneNumber,dateOfBirth,currentAge,livesAt,additionalHobbies[0],additionalHobbies[1],additionalHobbies[2],wantsToTravelTo,wantsToLeaveOn,wantedTrip,preferredAccomodation,agesToMatchWith,shomerShabbat,hasDriversLicense,veganOrVegetarian,isSpontanious,prefersNightTrips
0,665dd34420f433a7d94436e1,665dd34020f433a7d9406651,Al Ebert,0504374140,1997-12-14T03:21:06.128Z,26,Zefat,Cycling,Crafting,Drawing,"East Asia - For example, China, Japan, South K...",December,Cultural trip,Hotel,41-50,No,Yes,Yes,Yes,Yes
1,665dd34420f433a7d94436e2,665dd34020f433a7d9406652,Saul MacGyver,0527364778,2000-01-11T08:41:16.499Z,24,Raanana,Board games,Dancing,Dancing,"Middle East - For example, UAE, Israel, Jordan...",December,Bicycle trip,Hotel,26-32,Yes,No,No,No,No
2,665dd34420f433a7d94436e3,665dd34020f433a7d9406653,Candace O'Keefe,0500290130,1965-09-06T17:53:00.072Z,58,Mevo Betar,Board games,Baking,Traveling,"North Africa - For example, Morocco, Egypt, Tu...",March,Shopping trip,Hostel,33-40,No,Yes,No,Yes,No
3,665dd34420f433a7d94436e4,665dd34020f433a7d9406654,Joel Howell,0533247564,1953-09-07T05:06:48.598Z,70,Tirat Carmel,Video gaming,Painting,Photography,"South Asia - For example, India, Sri Lanka, Ne...",November,Scenic trip,Camping,51+,Yes,Yes,Yes,No,Yes
4,665dd34420f433a7d94436e5,665dd34020f433a7d9406655,Dorris Deckow,0533270021,1982-02-20T20:58:02.643Z,42,Haifa,Listening to music,Drawing,Birdwatching,"Northern Europe (Scandinavia) - For example, S...",June,Shopping trip,Hostel,33-40,Yes,No,No,No,No
5,665dd34420f433a7d94436e6,665dd34020f433a7d9406656,Kennedi Jones,0537354203,1969-06-16T21:42:39.493Z,54,Kiryat Ata,Writing,Meditation,Singing,"North America - For example, United States, Ca...",June,Chill trip,Camping,51+,Yes,Yes,Yes,No,Yes
6,665dd34420f433a7d94436e7,665dd34020f433a7d9406657,Lorenzo Halvorson,0582178065,1958-04-02T07:29:11.932Z,66,Ashdod,Board games,Camping,Listening to music,"East Asia - For example, China, Japan, South K...",September,Culinary trip,Camping,41-50,Yes,No,Yes,No,Yes
7,665dd34420f433a7d94436e8,665dd34020f433a7d9406658,Valentin Brakus,0507972258,1955-09-21T22:06:30.152Z,68,Netivot,Swimming,Knitting,Camping,"North Africa - For example, Morocco, Egypt, Tu...",February,Urban trip,B&B,51+,No,No,Yes,Yes,Yes
8,665dd34420f433a7d94436e9,665dd34020f433a7d9406659,Cristal Abbott,0548493170,1965-12-05T05:46:25.116Z,58,Raanana,Traveling,Camping,Cycling,"North America - For example, United States, Ca...",January,Climbing trip,Hotel,41-50,Yes,Yes,No,Yes,Yes
9,665dd34420f433a7d94436ea,665dd34020f433a7d940665a,Derick Dickens,0543412075,1978-01-08T06:23:28.305Z,46,Givatayim,Model building,Sewing,Camping,"Central Africa - For example, Democratic Repub...",January,Cultural trip,B&B,33-40,No,No,No,No,Yes

In [70]:
def age_in_range(row):
    age = row['currentAge']
    age_range = row['agesToMatchWith']
    if '+' in age_range:
        min_age = int(age_range.replace('+', ''))
        return age >= min_age
    else:
        min_age, max_age = map(int, age_range.split('-'))
        return min_age <= age <= max_age

In [84]:
# df cleaning complete and new filtered df created
filtered_TravelPlans_df = TravelPlans_df[TravelPlans_df.apply(age_in_range, axis=1)]

In [87]:
filtered_TravelPlans_df.head(5)

,_id,personId,fullName,phoneNumber,dateOfBirth,currentAge,livesAt,additionalHobbies[0],additionalHobbies[1],additionalHobbies[2],wantsToTravelTo,wantsToLeaveOn,wantedTrip,preferredAccomodation,agesToMatchWith,shomerShabbat,hasDriversLicense,veganOrVegetarian,isSpontanious,prefersNightTrips
3,665dd34420f433a7d94436e4,665dd34020f433a7d9406654,Joel Howell,0533247564,1953-09-07T05:06:48.598Z,70,Tirat Carmel,Video gaming,Painting,Photography,"South Asia - For example, India, Sri Lanka, Ne...",November,Scenic trip,Camping,51+,Yes,Yes,Yes,No,Yes
5,665dd34420f433a7d94436e6,665dd34020f433a7d9406656,Kennedi Jones,0537354203,1969-06-16T21:42:39.493Z,54,Kiryat Ata,Writing,Meditation,Singing,"North America - For example, United States, Ca...",June,Chill trip,Camping,51+,Yes,Yes,Yes,No,Yes
7,665dd34420f433a7d94436e8,665dd34020f433a7d9406658,Valentin Brakus,0507972258,1955-09-21T22:06:30.152Z,68,Netivot,Swimming,Knitting,Camping,"North Africa - For example, Morocco, Egypt, Tu...",February,Urban trip,B&B,51+,No,No,Yes,Yes,Yes
13,665dd34420f433a7d94436ee,665dd34020f433a7d940665e,Felix Mayer,0536046040,1985-05-28T18:57:33.547Z,39,Nesher,Singing,Crafting,Cooking,"North America - For example, United States, Ca...",September,Chill trip,Hostel,33-40,No,Yes,Yes,Yes,No
38,665dd34420f433a7d9443707,665dd34020f433a7d9406677,Neha Gutmann,0534833167,1989-06-02T01:34:08.055Z,35,Dimona,Cooking,Swimming,Photography,Central America and the Caribbean - For exampl...,December,Off-roading trip,Hotel,33-40,No,No,No,Yes,No

In [88]:
# Users collection cleaning begins here
second_file_path = 'PUT_FILE_PATH_HERE'
Users_df = pd.read_csv(second_file_path, dtype={'phoneNumber': str})

In [92]:
Users_df.head(10)

,_id,fullName,phoneNumber,dateOfBirth,currentAge,livesAt,additionalHobbies[0],additionalHobbies[1],additionalHobbies[2]
0,665dd34020f433a7d9406651,Al Ebert,0504374140,1997-12-14T03:21:06.128Z,26,Zefat,Cycling,Crafting,Drawing
1,665dd34020f433a7d9406652,Saul MacGyver,0527364778,2000-01-11T08:41:16.499Z,24,Raanana,Board games,Dancing,Dancing
2,665dd34020f433a7d9406653,Candace O'Keefe,0500290130,1965-09-06T17:53:00.072Z,58,Mevo Betar,Board games,Baking,Traveling
3,665dd34020f433a7d9406654,Joel Howell,0533247564,1953-09-07T05:06:48.598Z,70,Tirat Carmel,Video gaming,Painting,Photography
4,665dd34020f433a7d9406655,Dorris Deckow,0533270021,1982-02-20T20:58:02.643Z,42,Haifa,Listening to music,Drawing,Birdwatching
5,665dd34020f433a7d9406656,Kennedi Jones,0537354203,1969-06-16T21:42:39.493Z,54,Kiryat Ata,Writing,Meditation,Singing
6,665dd34020f433a7d9406657,Lorenzo Halvorson,0582178065,1958-04-02T07:29:11.932Z,66,Ashdod,Board games,Camping,Listening to music
7,665dd34020f433a7d9406658,Valentin Brakus,0507972258,1955-09-21T22:06:30.152Z,68,Netivot,Swimming,Knitting,Camping
8,665dd34020f433a7d9406659,Cristal Abbott,0548493170,1965-12-05T05:46:25.116Z,58,Raanana,Traveling,Camping,Cycling
9,665dd34020f433a7d940665a,Derick Dickens,0543412075,1978-01-08T06:23:28.305Z,46,Givatayim,Model building,Sewing,Camping

In [93]:
def filter_users(Users_df, filtered_TravelPlans_df):
    user_ids = filtered_TravelPlans_df['personId'].unique()
    filtered_Users_df = Users_df[Users_df['_id'].isin(user_ids)]
    return filtered_Users_df

In [94]:
# df cleaning complete and new filtered df created
filtered_Users_df = filter_users(Users_df, filtered_TravelPlans_df)

In [95]:
filtered_Users_df.head(5)

,_id,fullName,phoneNumber,dateOfBirth,currentAge,livesAt,additionalHobbies[0],additionalHobbies[1],additionalHobbies[2]
3,665dd34020f433a7d9406654,Joel Howell,0533247564,1953-09-07T05:06:48.598Z,70,Tirat Carmel,Video gaming,Painting,Photography
5,665dd34020f433a7d9406656,Kennedi Jones,0537354203,1969-06-16T21:42:39.493Z,54,Kiryat Ata,Writing,Meditation,Singing
7,665dd34020f433a7d9406658,Valentin Brakus,0507972258,1955-09-21T22:06:30.152Z,68,Netivot,Swimming,Knitting,Camping
13,665dd34020f433a7d940665e,Felix Mayer,0536046040,1985-05-28T18:57:33.547Z,39,Nesher,Singing,Crafting,Cooking
38,665dd34020f433a7d9406677,Neha Gutmann,0534833167,1989-06-02T01:34:08.055Z,35,Dimona,Cooking,Swimming,Photography

In [99]:
filtered_TravelPlans_df.count()

_id                      49836
personId                 49836
fullName                 49836
phoneNumber              49836
dateOfBirth              49836
currentAge               49836
livesAt                  49836
additionalHobbies[0]     49836
additionalHobbies[1]     49836
additionalHobbies[2]     49836
wantsToTravelTo          49836
wantsToLeaveOn           49836
wantedTrip               49836
preferredAccomodation    49836
agesToMatchWith          49836
shomerShabbat            49836
hasDriversLicense        49836
veganOrVegetarian        49836
isSpontanious            49836
prefersNightTrips        49836
dtype: int64

In [100]:
filtered_Users_df.count()

_id                     49836
fullName                49836
phoneNumber             49836
dateOfBirth             49836
currentAge              49836
livesAt                 49836
additionalHobbies[0]    49836
additionalHobbies[1]    49836
additionalHobbies[2]    49836
dtype: int64

In [102]:
# ALWAYS CHANGE THE PATHS
path_to_save_plans = 'PUT_FILE_PATH_HERE'
path_to_save_users = 'PUT_FILE_PATH_HERE'
filtered_Users_df.to_csv(path_to_save_users, index=False)
filtered_TravelPlans_df.to_csv(path_to_save_plans, index=False)